{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="d-flex main-post">
        <div>
            <a href="{{ path('other_user_profile', {'nickname' : post.author.nickname}) }}"><img class="avatar" src="https://picsum.photos/200" /></a>
        </div>
        <div class="pl-4 w-100">
            <div class="d-flex align-items-baseline justify-content-between">
                <div>
                    <a href="{{ path('other_user_profile', {'nickname' : post.author.nickname}) }}"><h5>{{ post.getAuthor().getNickName() }}</h5></a>
                </div>
                <div style="">
                    <h6>{{ post.getCreatedAt()|date("Y-m-d H:i:s") }}</h6>
                </div>
            </div>
            <p class="mr-4 mb-0 text-justify">{{ post.getText()|raw }}</p>
        </div>
    </div>

    {% if comments|length > 0 %}
        {% for comment in comments %}
            <div class="d-flex post">
                <div>
                    <img class="avatar" src="https://picsum.photos/200" />
                </div>
                <div class="pl-4 w-100">
                    <div class="d-flex align-items-baseline justify-content-between">
                        <h5>{{ comment.getAuthor().getNickName() }}</h5>
                        <h6>{{ comment.getCreatedAt()|date("Y-m-d H:i:s") }}</h6>
                    </div>
                    <p class="mr-4 mb-0 text-justify">{{ comment.getText()|raw }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}

    {% endif %}

    {% if is_participating == true %}
        {% if user.status == "banned" %}
            <div class="alert alert-danger">You're banned on this forum!</div>
        {% elseif room.status == "disabled" %}
            <div class="alert alert-danger">This room is disabled!</div>
        {% else %}
            <form method="POSt" action="{{ path('create_comment', {'room_id' : room.getId(), 'parent_post_id' : post.id}) }}">
                <div class="form-group">
                    <textarea class="form-control" id="editor1" name="text"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Post!</button>
                </div>
            </form>
        {% endif %}
    {% else %}
        <div class="form-group">
            <a href="{{ path('room_join', {'room_id' : room.getId()}) }}" type="submit" class="btn btn-warning">Join this room</a>
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
{% endblock %}