{% extends 'admin/base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-users-tab" data-toggle="pill" href="#pills-users" role="tab" aria-controls="pills-users" aria-selected="true">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-rooms-tab" data-toggle="pill" href="#pills-rooms" role="tab" aria-controls="pills-rooms" aria-selected="false">Rooms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-posts-tab" data-toggle="pill" href="#pills-posts" role="tab" aria-controls="pills-posts" aria-selected="false">Posts</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">
            <div class="card card-body mt-2 mb-2">
                <table class="table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Nickname</th>
                        <th>Status</th>
                        <th>Register date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.nickname }}</td>
                            <td>{{ user.status }}</td>
                            <td>{{ user.createdAt | date("Y-m-d H:i:s") }}</td>
                            <td>
                                {% if user.status == "banned" %}
                                    <a href="{{ path('admin_unban_user', {'user_id' : user.id}) }}" class="btn btn-warning btn-sm">Unban</a>
                                {% else %}
                                    <a href="{{ path('admin_ban_user', {'user_id' : user.id}) }}" class="btn btn-danger btn-sm">Ban</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-rooms" role="tabpanel" aria-labelledby="pills-rooms-tab">
            <div class="card card-body mt-2 mb-2">
                <table class="table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Room name</th>
                        <th>Author</th>
                        <th>Actions</th>
                        <th>Create date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{ room.name }}</td>
                            <td>{{ room.creator.nickname }}</td>
                            <td></td>
                            <td>{{ room.createdAt | date("Y-m-d H:i:s") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">
            <div class="card card-body mt-2 mb-2">
                <table class="table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Author</th>
                        <th>Content</th>
                        <th>Actions</th>
                        <th>Create date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.author.nickname }}</td>
                            <td>{{ post.text|raw }}</td>
                            <td></td>
                            <td>{{ post.createdAt | date("Y-m-d H:i:s") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
