{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-10 col-md-12">
            <div>
                <h3>{{ user.getNickname() }}</h3>
                <hr>
            </div>

            <div class="card card-body">
                {% if user.getParticipatingInRooms() is not empty %}
                    <h4>Rooms you belong to</h4>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>name</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for room in user.getParticipatingInRooms() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td><a href="{{ path('room', {'slug' : room.slug}) }}">{{ room.getName() }}</a></td>
                                <td><a href="{{ path('room_leave', {'room_id' : room.getId()}) }}" class="btn btn-danger btn-sm">Leave</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    You are not a member in any room yet...
                {% endif %}
            </div>

            <div class="card card-body mt-4">
                {% if user.getYourRooms() is not empty %}
                    <h4>Rooms you created</h4>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>name</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for room in user.getYourRooms() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td><a href="{{ path('room', {'slug' : room.slug}) }}">{{ room.getName() }}</a></td>
                                <td>
                                    <a href="{{ path('room_delete', {'room_id' : room.getId()}) }}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    You have not created any rooms yet...
                {% endif %}
            </div>

            <div class="card card-body mt-4">
                {% if last_activity is not empty %}
                    <h4>Your last activity</h4>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Content</th>
                            <th>In room</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in last_activity %}
                            <tr>
                                <td><a href="">{{ post.getText() }}</a></td>
                                <td><a href="{{ path('room', {'slug' : post.getRoom().slug}) }}">{{ post.getRoom().getName() }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    We are still waiting for your first post!
                {% endif %}
            </div>
        </div>

        <div class="col-lg-2 col-md-12">
            <div>
                <h3>Akcje</h3>
                <hr>
            </div>
            <p>
                <a href="{{ path('edit_profile_form') }}" class="btn btn-info btn-sm btn-block">Edit profile
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                    </svg>
                </a>
            </p>
            <p>
                <a href="{{ path('room_create_form') }}" class="btn btn-info btn-sm btn-block">Create room
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                    <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
                </svg>
                </a>
            </p>
        </div>
    </div>
{% endblock %}
