{% extends 'base.html.twig' %}

{% block body %}
    {% if alert is defined and alert is not empty %}
        {{ alert }}
    {% endif %}

    {% if rooms_user_does_not_belong is not empty %}
        <h4>Rooms you do not belong to</h4>
        {% for room in rooms_user_does_not_belong %}
            <div class="card card-body p-2 mb-2">
                <div class="d-flex">
                    <div><img class="avatar" src="https://picsum.photos/200" /></div>
                    <div class="d-flex align-items-center justify-content-between pl-3 w-100">
                        <a href="{{ path('room', {'slug' : room.getSlug()}) }}"><h5 class="mb-0">{{ room.getName() }}</h5></a>
                        <div>
                            <span class="badge badge-success p-2">active users: {{ room.getMember|length }}</span>
                            <span class="badge badge-primary p-2">total posts: {{ room.getPosts|length }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <!--<h4>There are no rooms to join...</h4>-->
    {% endif %}

    {% if rooms_user_belongs is not empty %}
        <h4>Rooms you belong to</h4>
        {% for room in rooms_user_belongs %}
            <div class="card card-body p-2 mb-2">
                <div class="d-flex">
                    <div><img class="avatar" src="https://picsum.photos/200" /></div>
                    <div class="d-flex align-items-center justify-content-between pl-3 w-100">
                        <a href="{{ path('room', {'slug' : room.getSlug()}) }}"><h5 class="mb-0">{{ room.getName() }}</h5></a>
                        <div>
                            <span class="badge badge-success p-2">active users: {{ room.getMember|length }}</span>
                            <span class="badge badge-primary p-2">total posts: {{ room.getPosts|length }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h4>You does not belong to any room yet...</h4>
    {% endif %}

{% endblock %}
