{% extends 'base.html.twig' %}

{% block body %}
    <h4>Greetings in {{ room.getName() }}</h4>

    {% if posts|length > 0 %}
        {% for post in posts %}
            <div class="d-flex post">
                <div>
                    <a href="{{ path('other_user_profile', {'nickname' : post.author.nickname}) }}"><img class="avatar" src="https://picsum.photos/200" /></a>
                </div>
                <div class="pl-4 w-100">
                    <div class="d-flex align-items-baseline justify-content-between">
                        <div>
                            <a href="{{ path('other_user_profile', {'nickname' : post.author.nickname}) }}"><h5>{{ post.getAuthor().getNickName() }}</h5></a>
                        </div>
                        <div style="">
                            <h6>{{ post.getCreatedAt()|date("Y-m-d H:i:s") }}</h6>
                        </div>
                    </div>
                    <a href="{{ path('show_post', {'room_slug' : room.slug, 'post_id' : post.id}) }}"><p class="mr-4 mb-0 text-justify">{{ post.getText()|raw }}</p></a>
                </div>
            </div>
        {% endfor %}
    {% elseif room.status != "disabled" %}
        Welcome in {{ room.getName() }} {{ user.getNickname() }}, write your first post!
    {% endif %}

    {% if is_participating == true %}
        {% if user.status == "banned" %}
            <div class="alert alert-danger">You're banned on this forum!</div>
        {% elseif room.status == "disabled" %}
            <div class="alert alert-danger">This room is disabled!</div>
        {% else %}
        <form method="POSt" action="{{ path('create_post', {'room_id' : room.getId()}) }}">
            <div class="form-group">
                <textarea class="form-control" id="editor1" name="text"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Post!</button>
            </div>
        </form>
        {% endif %}
    {% else %}
        <div class="form-group">
            <a href="{{ path('room_join', {'room_id' : room.getId()}) }}" type="submit" class="btn btn-warning">Join this room</a>
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
{% endblock %}